* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    display: flex;
    /* want to make the whole page horizontal so adding display flex to the body selector */
    width: 100%;
}

nav {
    padding: 20px;
    font-size: 45px;
    background-color: goldenrod;
    /* flex-direction: column;
    align-items: start; */
    /* Learned this during tutoring session - aligning items from left to right and top to bottom */
    position:fixed;
    text-align: center;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 25%; 
    z-index: 100  
}

.sidebar-nav {
    margin: 0;
    padding: 15px;
    
}

nav a {
    /* display: block; */
    padding: 15px;
    text-decoration: none;
    /* writing-mode:vertical-lr;
    white-space: nowrap; */
    justify-content:center;
    display: list-item;
    list-style-type: none;
    color: black;

}

/* .sidebar-nav {
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style-type:none;
    vertical-align: middle;
    white-space:nowrap;
    text-align: justify;
    box-sizing:inherit;
    margin-left: 0px;
    float: right;
} */
/* I just want to comment on how many times I went back and forth with the positioning, displays, lists, how to place the text in the way I wanted - I am literally typing this at 5am after being up for almost 24 hours. It needed to be fixed. The element that finally fixed the positioning of the text in the navigation bar was "display:list-item" */

main {
    display: flex;
    flex-direction:column;
    margin-left: 25%;
    align-items: center; 
    /* we changed this the flex direction to colummn and aligning items in center because we want to view the image I will add horizontilly  */
    /* padding-left: 30%; */
    /* z-index: 100 */
    width: 100%;
    position: relative;
}

#Adjoa_header {
    position:absolute;
    color: black;
    font-size: 50px;
    text-align: center;
}

#Adjoa_image {
    background-image: url("./2FEE48C8-8869-480A-A5DB-7E1A5E20402A.JPEG");
    width: 100%;
    height: auto;
    aspect-ratio: 1838/2499; 
    background-size: cover;
}

/* section {
    margin-left: 30%;
    text-align: center;

}  */

/* main section img {
    position: absolute;
    width:100%;
    height: 100%;
    z-index: 2;
} */

/* .center-image {
    background-image: url(./2FEE48C8-8869-480A-A5DB-7E1A5E20402A.JPEG);
    display:flex;
    position: absolute;
    /* background-position: center; */
    /* z-index: index 1;
} */ 

/* #Adjoa {
  position: absolute;
  z-index: 1;
  font-size: 50px;
  left: 500px;
  margin: -10px;
} */

/* p .aspire {
    position:absolute;
    left: 15px;
    z-index: 2;
    font-size: medium;
} */

#About-Me {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    font-size: 25px;
    margin-bottom: 2%;
    margin-left: 2%;
}

#My-Projects {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    font-size: 20px;
    margin-bottom: 2%;
    text-align: center;
    
}

section caption {
    text-align: left;
    position: relative;
}
/* .grid-images {
    display: table;
    grid-template-columns:auto auto;
    justify-content: space-evenly;
    align-content:start;
    --num-cols:2;
    
    
} */
/* section .About-Me h1 {
    font-size: 60px;
    padding-left: 50%;
}

section h2 {
    font-size: 60px;
}  */

.grid-images {
    margin-left: 2%;
    margin-right: 2%;
    display:flex;
    justify-content: space-evenly;
    align-content: space-between;
    /* grid-template-columns:auto auto;
    column-gap: 20px; */
    width: 50%;
    height: 50%;
    
}
#footer {
    text-align: center;
    /* padding: 30px; */
    bottom: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: auto;
    position: relative;
    color: chocolate;
    /* clear: both; */
} 